@page "/page/{Filename}"
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Blog @Filename.Humanize(LetterCasing.Title)</PageTitle>
@if (string.IsNullOrWhiteSpace(_content))
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 class="post-title p-name" itemprop="name headline">@PageTitle</h1>
    <p class="post-meta">
        Originally published
        <time class="dt-published" datetime="@Date.ToString("R")" itemprop="datePublished">@Date.Humanize()
        </time>.</p>

    <div class="post-content e-content" itemprop="articleBody">@((MarkupString)Body)</div>

    <a class="u-url" href="/page/@Filename" hidden></a>
}

@code {
    [Parameter] public string Filename { get; set; } = string.Empty;

    private string? _content;
    private string PageTitle { get; set; } = string.Empty;
    private DateTime Date { get; set; } = DateTime.Now;
    private string Body { get; set; } = string.Empty;

    private readonly MarkdownPipeline _pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseYamlFrontMatter()
        .UseEmojiAndSmiley()
        .Build();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _content = await Http.GetStringAsync($"_posts/{Filename}.md");
            var document = Markdown.Parse(_content, _pipeline);

            var yamlBlock = document.Descendants<YamlFrontMatterBlock>().FirstOrDefault();
            if (yamlBlock != null)
            {
                var yaml = _content.Substring(yamlBlock.Span.Start + 3, yamlBlock.Span.Length - 6);
                var deserializer = new YamlDotNet.Serialization.Deserializer();
                var frontMatter = deserializer.Deserialize<Dictionary<string, string>>(yaml);
                foreach (var (key, value) in frontMatter)
                {
                    // layout
                    // categories
                    if (key.Equals("title", StringComparison.OrdinalIgnoreCase))
                    {
                        PageTitle = value;
                    }
                    else if (key.Equals("date", StringComparison.OrdinalIgnoreCase))
                    {
                        Date = FormatDate(value);
                    }
                }
            }

            Body = document.ToHtml(_pipeline);
            await InvokeAsync(StateHasChanged);
            InitializeMermaidAndMathJax();
        }
        catch (Exception ex)
        {
            _content = null;
            Console.WriteLine(ex.Message);
        }
    }

    private void InitializeMermaidAndMathJax() => JS.InvokeVoidAsync("initializeMermaidAndMathJax");

    private static DateTime FormatDate(string value) => DateTime.TryParse(value, out var date) ? date : DateTime.Now;
}
